@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Tajawal', sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  transition: height .2s ease;
}

header li {
  transition: transform .18s ease;
}

.menu-line-2 {
  transition: opacity .5s ease;
}

.menu-line-1 {
  transition: bottom .4s ease;
}

.menu-line-2 {
  transition: top .4s ease;
}

.menu-line-1,
.menu-line-3 {
  transition: transform .2s ease;
}

textarea::selection {
  background: #0E185F;
  color: #F9FAFE;
}

.ar {
  direction: rtl;
}

.en {
  direction: ltr;
}

#__next {
  scroll-behavior: smooth
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply tracking-tight
  }
  .loader {
    @apply
    w-[30px]
    h-[30px]
    rounded-[50%]
    border-slate-500
    border-t-white_color
    animate-spin
  }
  .menu-line {
    @apply w-[100%] h-[4px] bg-[#0070f3] rounded-md
  }

  .menu-line-1,
  .menu-line-3 {
    @apply absolute
  }

  .section-styling {
    @apply w-[100%] h-[100vh] bg-white_color
  }

  .title {
    @apply w-fit font-bold sm:text-[1.85rem] md:text-[2rem] lg:text-[2.2rem] text-blue_color mx-auto
  }

  .dash {
    @apply w-6 h-2 bg-green-500 rounded-md
  }

  form {
    @apply md:w-[93%] lg:w-[88%] mx-auto ar
  }

  form div {
    @apply mt-[2em]
  }

  form label {
    @apply text-[1.3rem]
  }

  form input {
    @apply w-[100%] h-[40px] p-[.45em] mt-2 border-b-2 focus:border-b-blue_color rounded-sm outline-none bg-transparent duration-75 transition-all ease-in
  }

  form textarea {
    @apply w-[100%] h-[70px] max-h-[120px] bg-white_color p-[.45em] rounded-sm border-b-2 focus:border-b-blue_color outline-none
  }

  form textarea::placeholder,
  form input::placeholder {
    @apply text-black text-[1.1rem] opacity-60
  }
}